<a href="https://colab.research.google.com/github/Akshat977/Applied-Data-Science-Capstone-Coursera-/blob/main/The__Battle_Of_Two_Cities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import folium
from geopy.geocoders import Nominatim
from pandas.io.json import json_normalize

**CLEANING DELHI**

In [29]:
#df_delhi=pd.read_csv('delhi_dataSet[1].csv')
#df_delrest=pd.read_csv('restaurant_dataSet[1].csv')
#df_delhi.columns=['this','Borough','Neighborhood','latitude','longitude']
#df_delhi.drop(['this'],axis=1,inplace=True)
#df_delhi.head()

In [30]:
#df_delrest.columns=['this','Neighborhood','Neighborhood lat','Neighborhoof lon','Venue','Venue lat','Venue lon','Venue category']
#df_delrest.drop(['this'],axis=1,inplace=True)
#print(df_delhi.shape,df_delrest.shape)
#df_delrest.head()
#df_del=pd.merge(df_delrest,df_delhi,on='Neighborhood')
df_del.drop(['latitude','longitude'],axis=1,inplace=True)

In [43]:
df_del.head()

   Neighborhood  Neighborhood lat  ...        Venue category           Borough
0  Adarsh Nagar         28.614193  ...           Pizza Place  North West Delhi
1  Adarsh Nagar         28.614193  ...     Indian Restaurant  North West Delhi
2  Adarsh Nagar         28.614193  ...  Fast Food Restaurant  North West Delhi
3  Adarsh Nagar         28.614193  ...  Fast Food Restaurant  North West Delhi
4   Ashok Vihar         28.699453  ...     Indian Restaurant  North West Delhi

[5 rows x 8 columns]

**CLEANING MUMBAI**

In [40]:
df_mumbai_unfiltered=pd.read_csv('mumbai.csv')
df_mumbai_unfiltered.head()
df_mumbai=df_mumbai_unfiltered.drop(['officeType','Deliverystatus','circlename','Taluk','Districtname','statename','Telephone','Related Suboffice','Related Headoffice'],axis=1)
#deleting all other data other than the data containing mumbai from df_mumbai:
df_mumbai=df_mumbai[df_mumbai['regionname']=='Mumbai']
df_mumbai['officename'] = df_mumbai['officename'].str.rstrip('S.O.')
df_mumbai['officename'] = df_mumbai['officename'].str.rstrip('B.O.')
df_mumbai['officename'] = df_mumbai['officename'].str.rstrip('H.O.')
df_mumbai.reset_index(drop=True,inplace=True)
df_mum=df_mumbai
df_mum.columns=['Neighborhood','pincode','Borough','this','this2','this3']
df_mum.drop(['this','this2','this3'],axis=1,inplace=True)

In [44]:
df_mum.head()

           Neighborhood  pincode       Borough
0           Antop Hill    400037  Mumbai  East
1         B P T Colony    400037  Mumbai  East
2             B.P.Lane    400003  Mumbai  East
3  BEST STaff Quarters    400012  Mumbai  East
4         C G S Colony    400037  Mumbai  East

**ADDING LATITUDES AND LONGITUDES TO MUMBAI:**

In [ ]:
address='Antop Hill, Mumbai'

location=geolocator.geocode(address)
print(location.latitude,location.longitude)

19.0207608 72.8652556

In [ ]:
lon,lat=list(),list()
for index,row in df_mum.iterrows():
  address='{}, Mumbai'.format(row['Neighborhood'])
  geolocator=Nominatim(user_agent='foursquare_agent')
  try:
    location=geolocator.geocode(address)
    lat.append(location.latitude)
    lon.append(location.longitude)
  except:
    lat.append(np.nan)
    lon.append(np.nan)

df_mum['latitude']=lat
df_mum['longitude']=lon
df_mum.head()