<a href="https://colab.research.google.com/github/Akshat977/Applied-Data-Science-Capstone-Coursera-/blob/main/week%203%20part%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
import folium
from pandas.io.json import json_normalize
from sklearn.cluster import KMeans

In [2]:
import requests
import urllib.request
import pandas as pd
import csv
from bs4 import BeautifulSoup

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)
print(response.status_code)

200

In [4]:
soup = BeautifulSoup(response.text,"html.parser")

In [5]:
table = soup.findAll('table',{"class":"sortable"})[0]
values =[]
#There are 12 rows out of which we  need only rows from 1 to 11.
tr = table.findAll(['tr'])

In [6]:
csvFile = open("toronto.csv",'wt',newline='',encoding='utf-8')
writer = csv.writer(csvFile)  
try:   
        for cell in tr:
            th = cell.find_all('th')
            th_data = [col.text.strip('\n') for col in th]
            td = cell.find_all('td')
            row = [i.text.replace('\n','') for i in td]
            writer.writerow(th_data+row)      
        
finally:   
    csvFile.close()

In [7]:
df=pd.read_csv('toronto.csv')
df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

**CLEANING THE DATAFRAME:**
   

*    Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
*   More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.


*   If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [8]:
for index,row in df.iterrows():
  if row['Borough']=='Not assigned':
    df=df.drop(index)
  if (row['Borough']!='Not assigned' and row['Neighbourhood']=='Not assigned'):
    row['Neighbourhood']=row['Borough'] 
df.reset_index(inplace=True,drop=True)
df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

In [9]:
df.sort_values('Postal Code',ascending=True,inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

**ADDING LATITUDE AND LONGITUDE TO EACH POSTAL CODE:**

In [ ]:
address='M5G, Toronto, Ontario'
location=None
while location is None:
  geolocator=Nominatim(user_agent='foursquare_agent')
  location=geolocator.geocode(address)

KeyboardInterrupt: ignored

**SINCE NEITHER PYTHON GEOCODE NOR geocode.google seem to be orking the latitude and longitude data was taken from a Canadian csv file containing the data:**
http://cocl.us/Geospatial_data/

In [10]:
dff=pd.read_csv('http://cocl.us/Geospatial_data/')
dff.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

***merging the datframes on 'postal code'***

In [11]:
df=pd.merge(df,dff,on='Postal Code')
df.head()

  Postal Code      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

**FILTERING THE DATASET TO WORK ON BOROUGHS THAT ONLY CONTAIN THE WORD 'TORONTO':**

In [14]:
for index,row in df.iterrows():
  if('Toronto' not in row['Borough']):
    df=df.drop(index)
df.reset_index(inplace=True, drop=True)
df.head()

  Postal Code          Borough  ...   Latitude  Longitude
0         M4E     East Toronto  ...  43.676357 -79.293031
1         M4K     East Toronto  ...  43.679557 -79.352188
2         M4L     East Toronto  ...  43.668999 -79.315572
3         M4M     East Toronto  ...  43.659526 -79.340923
4         M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [17]:
CLIENT_ID='FU3OXQ2S3TAJBGRJKVMSDN31IHBMUWIT1TQORGLQVV4YQFNA' 
CLIENT_SECRET='DARJDUYHI1QPIC45U5T12V33TOHYM4MTJONIOAFMVXVVYEPM'
VERSION='20180605'
LIMIT=100

In [37]:
address = 'Toronto, Canada'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Totonto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Totonto are 43.6534817, -79.3839347.

**GET NEARBY VENUES FOR ALL NEIGHBORHOODS IN TOTONTO:**

In [19]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        try:
          results = requests.get(url).json()["response"]['groups'][0]['items']
        except:
          return None
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [21]:
venues=getNearbyVenues(names=df['Borough'], latitudes=df['Latitude'], longitudes=df['Longitude'])

East Toronto
East Toronto
East Toronto
East Toronto
Central Toronto
Central Toronto
Central Toronto
Central Toronto
Central Toronto
Central Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Central Toronto
Central Toronto
Central Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
Downtown Toronto
West Toronto
West Toronto
West Toronto
West Toronto
West Toronto
West Toronto
Downtown Toronto
East Toronto

In [22]:
venues.head()

   Neighborhood  Neighborhood Latitude  ...  Venue Longitude     Venue Category
0  East Toronto              43.676357  ...       -79.293942              Trail
1  East Toronto              43.676357  ...       -79.297734  Health Food Store
2  East Toronto              43.676357  ...       -79.297215                Pub
3  East Toronto              43.676357  ...       -79.292869       Neighborhood
4  East Toronto              43.679557  ...       -79.351434   Greek Restaurant

[5 rows x 7 columns]

In [23]:
venues.groupby('Neighborhood').count()

                  Neighborhood Latitude  ...  Venue Category
Neighborhood                             ...
Central Toronto                     104  ...             104
Downtown Toronto                   1248  ...            1248
East Toronto                        119  ...             119
West Toronto                        153  ...             153

[4 rows x 6 columns]

**ANALYSE EACH NEIGHBORHOOD:**

In [25]:
onehot = pd.get_dummies(venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
onehot['Neighborhood'] = venues['Neighborhood'] 

onehot.head()

   Afghan Restaurant  Airport  ...  Women's Store  Yoga Studio
0                  0        0  ...              0            0
1                  0        0  ...              0            0
2                  0        0  ...              0            0
3                  0        0  ...              0            0
4                  0        0  ...              0            0

[5 rows x 237 columns]

In [26]:
grouped = onehot.groupby('Neighborhood').mean().reset_index()
grouped

       Neighborhood  Afghan Restaurant  ...  Women's Store  Yoga Studio
0   Central Toronto           0.000000  ...       0.000000     0.009615
1  Downtown Toronto           0.000801  ...       0.000801     0.005609
2      East Toronto           0.000000  ...       0.000000     0.016807
3      West Toronto           0.000000  ...       0.000000     0.013072

[4 rows x 237 columns]

In [27]:
num_top_venues = 5

for hood in grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = grouped[grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Central Toronto----
            venue  freq
0     Coffee Shop  0.08
1  Sandwich Place  0.07
2            Park  0.06
3            Caf  0.06
4     Pizza Place  0.05


----Downtown Toronto----
         venue  freq
0  Coffee Shop  0.11
1         Caf  0.05
2   Restaurant  0.04
3        Hotel  0.03
4         Park  0.02


----East Toronto----
                venue  freq
0         Coffee Shop  0.07
1    Greek Restaurant  0.06
2  Italian Restaurant  0.04
3             Brewery  0.04
4          Restaurant  0.03


----West Toronto----
                venue  freq
0                Caf  0.07
1                 Bar  0.07
2         Coffee Shop  0.06
3  Italian Restaurant  0.04
4              Bakery  0.03

In [28]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [59]:

num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = grouped['Neighborhood']

for ind in np.arange(grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted['Neighborhood']

0     Central Toronto
1    Downtown Toronto
2        East Toronto
3        West Toronto
Name: Neighborhood, dtype: object

In [50]:
from sklearn.cluster import KMeans
kclusters = 3

grouped_clustering = grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 1, 2, 1], dtype=int32)

In [58]:
df.head()

  Postal Code          Borough  ...   Latitude  Longitude
0         M4E     East Toronto  ...  43.676357 -79.293031
1         M4K     East Toronto  ...  43.679557 -79.352188
2         M4L     East Toronto  ...  43.668999 -79.315572
3         M4M     East Toronto  ...  43.659526 -79.340923
4         M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [73]:
# add clustering labels
#neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

#df.rename(columns={'Neighborhood':'Neighbourhood'},inplace=True)
#df.rename(columns={'Neighbourhood':'Neighborhood'},inplace=True)
df.columns=['Postal Code','Neighborhood','Neighbourhood','Latitude','Longitude']
toronto_merged = df
df.head()
# merge manhattan_grouped with manhattan_data to add latitude/longitude for each neighborhood

  Postal Code     Neighborhood  ...   Latitude  Longitude
0         M4E     East Toronto  ...  43.676357 -79.293031
1         M4K     East Toronto  ...  43.679557 -79.352188
2         M4L     East Toronto  ...  43.668999 -79.315572
3         M4M     East Toronto  ...  43.659526 -79.340923
4         M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [74]:
toronto_merged =toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head(10)

  Postal Code     Neighborhood  ... 9th Most Common Venue  10th Most Common Venue
0         M4E     East Toronto  ...           Pizza Place                     Pub
1         M4K     East Toronto  ...           Pizza Place                     Pub
2         M4L     East Toronto  ...           Pizza Place                     Pub
3         M4M     East Toronto  ...           Pizza Place                     Pub
4         M4N  Central Toronto  ...              Pharmacy              Bagel Shop
5         M4P  Central Toronto  ...              Pharmacy              Bagel Shop
6         M4R  Central Toronto  ...              Pharmacy              Bagel Shop
7         M4S  Central Toronto  ...              Pharmacy              Bagel Shop
8         M4T  Central Toronto  ...              Pharmacy              Bagel Shop
9         M4V  Central Toronto  ...              Pharmacy              Bagel Shop

[10 rows x 17 columns]

In [76]:
import matplotlib.cm as cm
import matplotlib.colors as colors
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=20)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], merged['Neighborhood'], merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters